.card-item .skeleton{
    background: var(--secondary-color);
    cursor: pointer;
}

.card-inner .skeleton {
    height: auto;
}

.card-inner img,
.skeleton{
    width: 100%;
}

.card-bottom {
    padding: 20px;
}

.card-info {
    color: var(--font-primary);
}

.card-info h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}