@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mali", sans-serif;
}

:root {
  --primary-color: #090e13;
  --secondary-color: #18212a;
  --font-primary: #ffffff;
  --font-secondary: #73b5f3;
}

a {
  text-decoration: none;
}

body {
  background: var(--primary-color);
  color: var(--font-primary);
}

.container {
  margin: 0 40px;
}